<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/bootstrap.min.js"></script>
</head>

<body>
<figure class="col text-start" id="home">
    <a href="/" title="BioResources &amp; Technology" role="link">
        <img src="brt.png" title="BioResources &amp; Technology" role="banner" alt="BioResources &amp; Technology"
             aria-label="BioResources &amp; Technology" class="img-fluid">
    </a>
</figure>
<header class="mb-4">
    <hgroup class="head p-2">
        <h1 class="large">Scientific Database</h1>
        <h2 class="medium">Substrate classification - Proof of Concept</h2>
    </hgroup>
</header>

<div class="container-fluid">
    <div class="row align-items-start">
        <aside class="col">

            <search class="accordion" id="research_selection">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSelection" aria-expanded="true"
                                aria-controls="collapseSelection">
                            <strong>Select research area </strong>
                        </button>

                    </h2>
                    <div id="collapseSelection" class="accordion-collapse collapse show"
                         data-bs-parent="#research_selection">
                        <div class="accordion-body">


                            <ul class="list-group">
                                <li class="list-group-item">
                                    <input class="form-check-input me-1" type="radio" name="ResearchGroupRadio" value=""
                                           id="PretreatmentRadio" checked>
                                    <label class="form-check-label" for="PretreatmentRadio">Pretreatment</label>
                                </li>
                                <li class="list-group-item">
                                    <input class="form-check-input me-1" type="radio" name="ResearchGroupRadio" value=""
                                           id="ReactorRadio">
                                    <label class="form-check-label" for="ReactorRadio">Reactors</label>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </search>


            <search class="accordion pt-2" id="accordion_pretreatment">
                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsePretreatment" aria-expanded="false"
                                aria-controls="collapsePretreatment">
                            Pretreatment
                        </button>
                    </h3>
                    <div id="collapsePretreatment" class="accordion-collapse collapse"
                         data-bs-parent="#accordion_pretreatment">
                        <div class="accordion-body">

                            <ul id="pretreatment_categories" class="list-group">
                                <% for(const obj of fields){ %>
                                    <li class="list-group-item">
                                        <button name="entry-<%= obj.id %>" id="fieldId-<%= obj.id %>"
                                                class="selection-button "></button>
                                        <label class="text-capitalize" for="fieldid-<%= obj.id %>">
                                            <%= obj.name %>
                                        </label>
                                    </li>

                                <% } %>
                            </ul>

                        </div>
                    </div>
                </div>
            </search>

            <search class="accordion pt-2" id="accordion_reactor">
                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseReactor" aria-expanded="false"
                                aria-controls="collapseReactor">
                            Reactors
                        </button>
                    </h3>
                    <div id="collapseReactor" class="accordion-collapse collapse"
                         data-bs-parent="#accordion_reactor">
                        <div class="accordion-body">

                            <ul id="search-terms" class="list-group">
                                <% for(const obj of reactors){ %>
                                    <li class="list-group-item">
                                        <button name="entry-<%= obj.id %>" id="fieldId-<%= obj.id %>"
                                                class="selection-button "></button>
                                        <label class="text-capitalize" for="fieldid-<%= obj.id %>">
                                            <%= obj.name %>
                                        </label>
                                    </li>

                                <% } %>
                            </ul>

                        </div>
                    </div>
                </div>
            </search>

            <search class="accordion pt-3" id="accordion_Substrate">
                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSubstrate" aria-expanded="false"
                                aria-controls="collapseSubstrate">
                            Substrates
                        </button>
                    </h3>
                    <div id="collapseSubstrate" class="accordion-collapse collapse"
                         data-bs-parent="#accordion_Substrate">
                        <div class="accordion-body">

                            <ul id="substrate_categories" class="list-group pt-2 accordion">
                                <% for(const obj of substrate){ %>
                                    <li class="list-group-item">
                                        <button name="entry-<%= obj.id %>" id="fieldId-<%= obj.id %>"
                                                class="selection-button "></button>
                                        <label class="text-capitalize" for="fieldid-<%= obj.id %>">
                                            <%= obj.name %>
                                        </label>
                                    </li>
                                <% } %>
                            </ul>

                        </div>
                    </div>
                </div>
            </search>

            <search class="input-group mt-3">
                <select class="form-select" id="yearSelect">
                    <option selected>From - To</option>
                    <option value="1">From Year</option>
                    <option value="2">To Year</option>
                    <option value="3">Exact Year</option>
                </select>
                <input type="text" aria-label="Year" class="form-control" placeholder="Year">
                <input type="text" aria-label="Year" class="form-control" id="yearFilter"
                       placeholder="Year">

            </search>
            <button class="btn btn-secondary btn-sm mb-3 w-100" id="yearFilterButton">Apply</button>

            <button id="exportbutton" class="btn btn-primary mt-4 mb-3 w-100">Download Selection</button>

        </aside>
        <main class="col-9 border border-dark-subtle rounded bg-dark-subtle" id="articles-section">

            <h2>Articles</h2>
            <section class="accordion" id="accordionfilter">

            </section>
        </main>
    </div>
</div>

<%- include('partials/footer') %>

<script src="/substrateFunctions.js"></script>
</body>

</html>